# Default ignored files
/../../Walmart E-Commerce Microservices Platform./.idea/shelf/
/../../Walmart E-Commerce Microservices Platform./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Walmart E-Commerce Microservices Platform./.idea/httpRequests/
# Ignored default folder with query files
/../../Walmart E-Commerce Microservices Platform./.idea/queries/
# Datasource local storage ignored files
/../../Walmart E-Commerce Microservices Platform./.idea/dataSources/
/../../Walmart E-Commerce Microservices Platform./.idea/dataSources.local.xml
